
.image-list-shelf-carousel{
  [data-fs-carousel-controls]{
    transform: translateY(50%);
    width: 100% !important;
    opacity: 0 !important;
  }
  [data-fs-wishlist-button]{
    top: 0;
  }
}

.image-list-shelf-carousel [data-fs-carousel] [data-fs-carousel-track]{
  padding: initial !important;
  scroll-snap-type: x mandatory;
}
.image-list-shelf-carousel [data-fs-carousel] [data-fs-carousel-item]{
  margin-right: 0 !important;
  width: 100% !important;
  flex: 0 0 100% !important;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.image-list-shelf-carousel [data-fs-carousel-controls]{
  [data-fs-button]{
    display: flex;
    align-items: center;
    justify-content: center;
    [data-fs-button-wrapper]{
      width: 24px;
      height: 24px;
    }
  }
}

.image-list-shelf-carousel{
  position: relative;
  .buyButton{
    position: absolute;
    bottom: 1rem;
    left: 0;
    padding: 0 1rem;
    width: 100%;
    height: 30px !important;
    min-height: 30px !important;
    z-index: 1;
    opacity: 0;
    visibility: hidden;

    [data-fs-button-wrapper]{
      position: relative;
      overflow: hidden;
      background-color: #110B0D;
      height: 100%;
      border: none !important;
      border-radius: 0;


      &::before{
        content: "";
        position: absolute;
        inset: -1px;
        background-color: #C41230;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform .3s ease-in-out;
        z-index: 0;
      }

      [data-fs-button-icon]{
        display: none;
      }
      span{
        position: relative;
        z-index: 1;
        color:  #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

    }
    &:hover{
      [data-fs-button-wrapper]::before{
        transform: scaleY(1);
      }
    }
  }
}

.flags{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 8px;

  [data-fs-badge]{
    border-radius: 0;
    width: 40px;
    height: 20px;
  }
  [data-fs-badge-counter] [data-fs-badge-wrapper]{
    background-color: transparent !important;
  }
}