.carousel {
  width: 100%;
  min-width: 0;

  :global(.swiper) {
    width: 100%;
  }

    :global(.swiper-slide) {
        height: auto;
    }

    // ARROW
    :global(.swiper-button-next),
    :global(.swiper-button-prev) {
        color: #fff;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        padding: 6px;

        &:hover {
            background-color: rgba(255,255,255,.3);
        }
    }
    :global(.swiper-button-next) {
        right: 10px;
    }
    :global(.swiper-button-prev) {
        left: 10px;
    }

    // DOTS
    :global(.swiper-pagination) {
        position: initial;
        margin-top: 10px;        
        display: flex;
        align-items: center;
        justify-content: center;
        //background-color: #eee;

        :global(.swiper-pagination-bullet-active) {
            background-color: #000;
        }
    }

    &.bardot {
        :global(.swiper-pagination) {
            max-width: 1440px;
            margin-left: auto;
            margin-right: auto;
            padding: 0 16px;
            display: flex;
            justify-content: stretch;
            align-items: center;
            position: relative;
            top: 0;
            @media(min-width: 1025px){
                padding: 0 40px;
            }

            :global(.swiper-pagination-bullet) {
                flex: 1;
                width: auto;
                height: 4px;
                margin: 0;
                padding: 0;
                border-radius: 0;
                opacity: 1;
                background-color: #eee;

                
            }

            :global(.swiper-pagination-bullet:first-child) {
                border-radius: 99px 0 0 99px;
            }

            :global(.swiper-pagination-bullet:last-child) {
                border-radius: 0 99px 99px 0;
            }

            :global(.swiper-pagination-bullet-active) {
                background-color: #ccc;
            }
        }
    }
}



