.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2.5rem;
  flex-wrap: wrap;
}
.arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  color: #000;
  text-decoration: none;
  cursor: pointer;

  &.disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }
}
.page {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  padding: 0 0.5rem;
  border: 1px solid var(--gray-300, #d6d6d6);
  border-radius: 4px;
  background: #fff;
  color: #000;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  border-radius: 0;

  &:hover {
    border-color: #000;
  }
}

.page.active {
  //background: var(--primary-gold, #000);
  border-color: var(--primary-gold, #000);
  border-width: 2px;
  //color: #fff;
}

.arrow {
  svg {
    display: block;
  }
}

.ellipsis {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  min-width: 24px;
  height: 40px;
  color: #000;
  font-weight: 700;
}

@media(max-width: 1024px){
  .pagination{
    .page[aria-label="Página 4"],
    .page[aria-label="Página 5"]{
      display: none;
    }
  }
}