@layer components {
  .description_container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 48px;
    padding: 0 1rem;
    max-width: 1140px;
    margin: 0 auto;

    @media(max-width: 1024px){
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
  .description{    
    width: 100%;
    padding-top: 40px;
    margin-top: 40px !important;
    border-top: 1px solid #ddd;

    @media(max-width: 1024px){
      padding-top: 25px;
      margin-top: 25px !important;
    }
    
  }

  .description_container{

    [data-fs-description-panel-title]{
      color: #110B0D;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 1rem;
      display: inline-block;
    }
    [data-fs-product-details-description-content]{
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
    }
  }
}
