.section {
  width: 100%;
}

.contentWrapper {
  width: 100%;
  margin-inline: auto;
}

.title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 1.2;
}

.content {
  width: 100%;
}

.tabImage {
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  position: initial !important;
}

.tabText {
  width: 100%;
}

.content{

}
.section:global(.guia-de-tamanho){
  @media (max-width: 768px) {
   margin-top: 40px !important;
  }
}

