.model_size {
    padding-top: 20px;
    padding-left: 0;

    @media (min-width: 1025px) {
        padding-left: calc(96px + .5rem);
        padding-top: 30px;
    }

    p {
        text-align: center;
        font-size: 14px;
        @media (max-width: 1024px) {
            font-size: 12px;
        }
    }

    
}