@layer components {
  .container{
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    padding: 1rem 0;
    margin-inline: 2rem;
    
  }
  .categorias{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    max-width: 550px;
  }
  
  .categoriaItem{
    display: flex;
    gap: 6px;
    color: #202F58;
    font-size: 14px;
    align-items: center;
  }
}