.cards {
    padding-bottom: 15px;
}

.valores2 {
  padding: 50px 0;
  background-color: #C41230;

  h2,
  p {
    color: #fff;
  }
}

.historia {
    h1 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 44px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    p {
        font-size: 16px;
    }
}
.legado {
    article {
        padding: 16px;
        border: 1px dotted #000;

        h2 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 6px;
        }
        h3 {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 12px;
        }
        p {
            font-size: 13px;
        }
    }
}

.keep-lose-1 {
    padding: 30px 0;
    background-color: #6aa3c9;
    @media(min-width: 1025px){
       padding: 40px 0;
    }
    .boxTitle {
        h2,
        h3,
        p {
            color: #fff;
        }
    }
}

.keep-lose-2 {
    padding: 30px 0;
    background-color: #811a2e;
    @media(min-width: 1025px){
       padding: 40px 0;
    }
    .boxTitle {
        h2,
        h3,
        p {
            color: #fff;
        }
    }
}