/*
.layout__content{
  width: 100% !important;
  max-width: $container !important;
  margin: 0 auto !important;
  padding-inline: 1rem !important;  
}
*/
.productDetails {
  .layout__content{
    padding: 0 !important;
  }  
}
.layout__content { 
  
    width: 100%;
    max-width: inherit !important;
    margin: 0;  
    

    
  
}

[data-fs-product-price]{
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}
[data-product-spot-price]{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
[data-fs-product-details-values] [data-fs-badge]{
  height: 20px !important;
  width: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C41230 !important;
  border-radius: 0 !important;
  [data-fs-badge-wrapper]{
    color: #FFF;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}