
.guideSizeContent{
  display: flex;
}
@media (max-width: 768px){
  .guideSizeContent{
    flex-direction: column;
    gap: 40px;
  }
  .guideSizeImages{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .guideSize{
    padding: 0 24px;
    margin-bottom: 40px;
  }
  .guideSizeImageMain{
    height: 330px !important;
  }
  .guideSizeImageThumbnail{
    width: 40px !important;
    height: 40px !important;
  }
  .guideSizeThumbnails{
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}

@media (min-width: 768px) {
  .guideSizeText,
  .guideSizeImages{
    width: 50%;
  }

  .guideSizeImages{
    position: relative;
  }
  .guideSizeThumbnails{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 16px;
    left: 16px;
    gap: 8px;
  }

  .guideSizeImageMain{
    height: 720px;
  }

  .guideSizeText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.guideSizeText{
  h3 {
    margin-bottom: 8px;
    color: #110B0D;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    strong{
    color: #110B0D;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  
  }
  }
  p{
    margin-bottom: 8px;
    color: #110B0D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  p strong {
    color: #110B0D;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  p em{
    color: #C41230;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    display: flex;
    align-items: center;
    &::before{
      content: "";
      width: 34px;
      height: 34px;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='34' height='34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_5676_2571)'%3E%3Cpath d='M19.092 6.364L6.364 19.092a2.006 2.006 0 000 2.828l5.657 5.657c.778.778 2.05.778 2.828 0L27.577 14.85a2.006 2.006 0 000-2.828L21.92 6.364a2.006 2.006 0 00-2.828 0zm6.364 7.778L14.142 25.456a1.003 1.003 0 01-1.414 0l-4.243-4.243a1.003 1.003 0 010-1.414l.707-.707 2.122 2.121a1.003 1.003 0 001.414 0 1.003 1.003 0 000-1.414l-2.121-2.121 1.414-1.414 2.121 2.12a1.003 1.003 0 001.414 0 1.003 1.003 0 000-1.413l-2.121-2.122 1.414-1.414 2.122 2.121a1.003 1.003 0 001.414 0 1.003 1.003 0 000-1.414l-2.122-2.121 1.415-1.414 2.12 2.121a1.003 1.003 0 001.415 0 1.003 1.003 0 000-1.414l-2.121-2.121.707-.708a1.003 1.003 0 011.414 0l4.243 4.243a1.003 1.003 0 010 1.414z' fill='%23C41230'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_5676_2571'%3E%3Cpath fill='%23fff' transform='rotate(-45 20.485 8.485)' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }
  p a{
    display: inline-flex;
    margin-top: 3px;
    background: #110b0d;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    transition: all .3s ease-in-out;

    &:hover{
      opacity: .8;
    }
  }
}

.guideSizeButton{
  border: 1px solid transparent;
  padding: 0;
  
  &.active{
    border-color: #000;
  }
}