@layer components {
  .navItem {
    position: static;
    list-style: none;
    &[data-fs-is-red="true"]{
      .trigger{
        color: #C41230 !important;
      }
    }
    &[data-fs-is-blue="true"]{
      .trigger{
        color: #202F58 !important;
      }
    }
  }

  .trigger {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 65px;
    color: #110b0d;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    text-decoration: none;
    white-space: nowrap;
    display: block;
    transition: color 0.15s ease;
    display: flex;
    flex-direction: column;
    position: relative;

    @media (min-width: 1024px) and (max-width: 1230px) {
      font-size: 13px;
    }

    &::after{
      content: '';
      width: 0;
      height: 1px;
      position: absolute;
      bottom: 20px;
      left: 0;
      background-color: #C41230;
      opacity: 0;
      transition: width .3s ease;
    }

    &:hover,
    &.triggerActive {
      &::after {
        content: '';
        width: 100%;
        opacity: 1;
        right: 0;
      }
    }
  }
}
