@layer components {
  .drawerBody {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
  }

  .navList {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .drawerContentMenu{
    padding-bottom: 40px;
  }
}
