.wrapper {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;  
  padding:0 16px;

  @media(min-width: 1025px){    
    padding:0 40px;
  }
}

.containerDesk {
  
  @media(min-width: 1025px){    
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;      
    padding:0 40px;
  }
}

//remove vtex
[data-fs-content] {
  max-width: inherit !important;
}


