//==========================================================================
// CONTAINER
//==========================================================================
[data-fs-breadcrumb]{
  width: 100%;
  max-width: $container;
  margin: 0 auto;  
  padding:0 16px;

  @media(min-width: 1025px){    
    padding:0 1rem;
  }
}

//==========================================================================
// CONTENT
//==========================================================================
[data-fs-breadcrumb-list] {
  width: 100%;
  margin-left: 0 !important;

  [data-fs-breadcrumb-list-item] {    
    max-width: 120px;
    padding: 0;
    margin: 0;
    
    [data-fs-breadcrumb-divider]{
      border: 0;
      margin: 0 5px !important;
      
      &::after{
        content: '';
        height: 16px;
        width: 16px;
        display: block;
        background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.99967 13.3334L11.333 8.00008L5.99967 2.66675L5.05301 3.61341L9.43967 8.00008L5.05301 12.3867L5.99967 13.3334Z" fill="%23110B0D"/></svg>');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }      
    }
    

    [data-fs-breadcrumb-link]{
      padding: 0;
      margin: 0;
      font-size: 12px;
      color: var(--fs-color-main-1);
      line-height: 24px;
      border-radius: 0 !important;
    }

    // AJUSTE PARA AS PÁGINAS DE COLEÇÕES
    [data-fs-breadcrumb-link-home]{
      display: inline-flex;
      align-items: center;
      gap: 4px;

      span,
      svg {
        display: none;
        font-size: 0;
        color: #fff;
      }
      &::before {
        content: "Home";
        font-size: 12px;
        color: var(--fs-color-main-1);
      }      
    }

    span{
      padding: 0;
      margin: 0;
      font-size: 12px;
      color: var(--fs-color-main-1);
      line-height: 24px;      
    }
  }
}

[data-fs-list]{
  overflow: hidden;
}

//==========================================================================
// CENTRALIZAR NA PLP
//==========================================================================
.theme {
  &.plp-view {
    .section.section-breadcrumb{
       [data-fs-breadcrumb-list] {
        margin-top: 15px;
        justify-content: center;
        @media(min-width: 1025px){    
          margin-top: 20px;
        }
       }

    } 
  }
}