[data-fs-carousel-controls]{
  [data-fs-button]{
    height: var(--fs-button-height);
    width: var(--fs-button-height);
    [data-fs-button-wrapper]{
      box-shadow: none !important;
      border-radius: 0;
    }
    [data-fs-icon]{
      display: none;
    }
    [data-fs-button-icon]{
      &::before{
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
  [data-fs-carousel-control="right"]{
    [data-fs-button-icon]::before{
      background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.00004 13.3334L11.3334 8.00008L6.00004 2.66675L5.05337 3.61341L9.44004 8.00008L5.05337 12.3867L6.00004 13.3334Z" fill="%23110B0D"/></svg>');
    }
  }
  [data-fs-carousel-control="left"]{
    [data-fs-button-icon]::before{
      background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 13.3334L4.66669 8.00008L10 2.66675L10.9467 3.61341L6.56002 8.00008L10.9467 12.3867L10 13.3334Z" fill="%23110B0D"/></svg>');
    }
  }
}
[data-fs-carousel-track-container]{
  text-align: center;
}