[data-fs-search-top-item-link]{
  text-decoration: none;
  color: #000;
}

button[aria-label="Cart Toggle"]{
  position: relative;
  [data-fs-badge][data-fs-badge-counter] {
    left: -16px !important;
    top: 0;
  }
}

[data-fs-search-auto-complete-item-link]{
  text-decoration: none;
}
[data-fs-search-products-header] {
  padding-left: 0 !important;
  padding-bottom: 12px !important;
}
[data-fs-search-products-title]{
  font-size: 0 !important;
  line-height: 0 !important;
  
  &::after{
    content: 'Produtos sugeridos';
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    color: #110b0d;    
    line-height: 1;
  }
}
[data-fs-price]{
  color: #000;
  font-weight: 700;
}
[data-fs-search-history],
[data-fs-search-auto-complete],
[data-fs-search-top]{
  [data-fs-search-top-header] {
    padding-left: 0;
  }

  
  [data-fs-list] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }
  [data-fs-link]{
    text-decoration: none;
    align-items: center !important;
    font-size: 13px;
    color: #110b0d;
    border-radius: 4px;
    border: 1px solid #eee;
    

    [data-fs-badge]{
      display: none;
      background-color: transparent !important;
      border: none !important;
      [data-fs-badge-wrapper]{
        font-weight: 600;
        color: #999;
        font-size: 13px;
      }
    }
  }
}
[data-fs-search-auto-complete] [data-fs-search-auto-complete-item]{
  [data-fs-link]{
    strong,
    p{
      font-size: 13px;
      font-weight: #110b0d;
    }
  }
}
[data-fs-search-products]{
  [data-fs-search-product-item] {
    border-radius: 6px;
    border: 1px solid #eee;
    overflow: hidden;
    margin-bottom: 8px;
    [data-fs-link] {
      text-decoration: none;
      [data-fs-search-product-item-title]{
        font-size: 13px;
        font-weight: 400;
        color: #110b0d;
      }
      [data-fs-product-price]{
        [data-fs-price]{
          font-size: 13px;
          color: #110b0d;
        }
      }
    }
  }
}

[data-fs-search-history-header] {
  padding-left: 0 !important;
  padding-right: 0 !important;
  [data-fs-button] {
    padding: 0;
    min-height: auto;
    span {
      font-size: 0;
      line-height: 0;
      &::after {
        content: "Limpar";
        font-size: 14px;
        line-height: 1;
        display: block;
        text-decoration: underline;
      }
    }
  }
  [data-fs-search-history-title] {
    font-size: 0 !important;
    line-height: 0 !important;
    &::after{
      content: 'Últimas buscas';
      display: inline-block;
      font-size: 13px;
      font-weight: 700;
      color: #110b0d;    
      line-height: 1;
    }
  }
  
}

[data-fs-search-top-title]{
  font-size: 0 !important;
  line-height: 0 !important;
  &::after{
    content: 'Mais buscados';
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    color: #110b0d;    
    line-height: 1;
  }
}

.fs-navbar-logo{
  display: inline-block;
}

[data-fs-navbar-buttons]{
  display: flex;
  align-items: center;
  @media(min-width: 1025px){
    order: 3;
  }
}

[data-fs-navbar-links]{
  background-color: transparent;
}

[data-fs-list]{
  margin: 0;
  padding: 0;
}

[data-fs-header-wrapper] [data-fs-navbar]{
  height: $header-height;
  [data-fs-header-custom]{
    width: 100%;
    background: #fff;
  }
  @media(max-width: 1024px){
    display: flex;
    align-items: center;
    [data-fs-header-custom]{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
  }
}

[data-fs-topbar]{
  width: 100%;
}

[data-fs-header-wrapper]{
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 3;
  width: 100%;
}
[data-fs-navbar-links] [data-fs-navbar-links-list] {
  display: flex !important;
}



[data-fs-navbar-row]{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;
  display: flex;
  align-items: center;
}


[data-fs-button-wrapper]{
  padding: 0 !important;
  margin: 0 !important;
}
[data-fs-navbar-buttons]{
  gap: 6px;
  [data-fs-cart-toggle] [data-fs-button-icon]::after {
    width: 20px;
    height: 20px;
  }
  
    [data-fs-button] {
      height: 40px;
      min-height: 40px;
      width: 40px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  
}
[data-fs-cart-toggle]{
  
  [data-fs-button-wrapper]{
    position: relative;
    & > span:last-child{
      position: absolute;
      top: 4px;
      right: 0;
    }
  }
  [data-fs-button-icon]{
    &::after{
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.25C11.7259 1.25 13.125 2.64911 13.125 4.375V5H6.875V4.375C6.875 2.64911 8.27411 1.25 10 1.25ZM14.375 5V4.375C14.375 1.95875 12.4162 0 10 0C7.58375 0 5.625 1.95875 5.625 4.375V5H1.25V17.5C1.25 18.8807 2.36929 20 3.75 20H16.25C17.6307 20 18.75 18.8807 18.75 17.5V5H14.375ZM2.5 6.25H17.5V17.5C17.5 18.1904 16.9404 18.75 16.25 18.75H3.75C3.05964 18.75 2.5 18.1904 2.5 17.5V6.25Z" fill="black"/></svg>');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    svg{
      display: none;
    }
  }
}
[data-fs-badge-counter]{
    background-color: var(--fs-color-main-2, #C41230);
    font-weight: 700;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  [data-fs-badge-wrapper]{
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
  }
}



[data-fs-drawer-menu] [data-fs-button-wrapper]{
  border: 0 !important;
  background-color: transparent !important;
  outline: none !important;
}

[data-fs-slide-over] [data-fs-slide-over-header] {
  justify-content: end !important;
}

[data-fs-button][data-fs-button-variant=tertiary] [data-fs-button-wrapper]{
  background-color: transparent !important;
  border: 0 !important;
  outline: none !important;
}


@media(min-width: 1024px){
  [data-fs-navbar-buttons],
  [data-fs-navbar-links]{
    flex: 1;
  }
  [data-fs-navbar-buttons]{
    justify-content: flex-end;
  }

  .scroll{
    [data-fs-menu-desktop-backdrop]{
      top: 0;
    }
    [data-fs-menu-desktop-drawer]{
      top: 0;
    }
  }
}

[data-fs-search-input-field]{
  [data-fs-input]{
    box-shadow: none !important;
    border: 1px solid #ccc !important;
    border-radius: 6px !important;
    color: #727273 !important;
  }
  [data-fs-button-icon]{
    color: #000 !important;
  }
}

[data-fs-search-dropdown]{
  --fs-search-dropdown-position-top-desktop: 42px;
  overflow: hidden;
  height: calc(100vh - 160px);
  overflow-y: auto;
  border: none;
}
@media(max-width: 1024px){
  [data-fs-cart-toggle] [data-fs-button-icon]::after {
    width: 16px;
    height: 16px;
  }
  [data-fs-navbar-buttons]{
    gap: 4px;
    [data-fs-button] {
      height: 30px;
      min-height: 30px;
      width: 30px;
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  
  .fs-navbar-logo svg {
    height: 24px;
    max-width: 177px;
  }
  [data-fs-search-dropdown]{
    left: 0 !important;
    width: 100%;
  }
  [data-fs-search-input-field]{
    button[data-testid="fs-search-button"]{
      position: absolute !important;
      right: 0;
    }
    [data-fs-input]{
      box-shadow: none !important;
    }
  }
  div[data-fs-navbar-buttons="true"]{
    flex: 1;
    justify-content: flex-end;
  }
}