@layer components {

  .itemHeader {
    padding: 0 1rem;
    & > .itemLink{
      color: #110B0D !important;
      font-size: 28px !important;
      font-style: normal;
      font-weight: 800 !important;
      line-height: normal;
      text-transform: uppercase;
    }
    &[data-fs-is-red="true"]{
      .itemLink{
        color: #C41230 !important;
      }
    }
     &[data-fs-is-blue="true"]{
      color: #202F58 !important;
    }
  }

  .itemTrigger {
    width: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #110b0d;
  }

  .itemLabel {
    display: block;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #110b0d;
  }
  .itemLabelLevel1{
    color: #110B0D;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
  }

  .itemLink {
    display: block;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #110b0d;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .chevron svg{
    height: 24px;
    width: 24px;
  }
  .itemLabelLevel1[data-fs-is-red="true"] {
    color: #C41230;
  }
  .itemLabelLevel1[data-fs-is-blue="true"] {
    color: #202F58;
  }
}
