.footer {        
    list-style: 1;

    :global(.container) {
        max-width: 904px;
    }
    .row1,
    .row2 {
        padding: 40px 0 0;
        background-color: #fff;

        @media(min-width: 1025px){
            padding: 50px 0 0;
        }
    }
    .labels {        
        flex-direction: column;        
        row-gap: 26px;
        

        @media(min-width: 1025px){
            column-gap: 20px;
            flex-direction: row;    
            align-items: center;
        }
    }

    .row3 {
        padding: 40px 0;
        @media(min-width: 1025px){
            padding: 50px 0;
        }
    }
}
